$blanco: white;
$amarillo: yellow;
$gris: #7D807B;
$gris-claro: #ccc;
$negro: black;

* {
	box-sizing: border-box;
}
header {
	background: $gris;
	overflow: auto;
	content: "";
	clear: both;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		letter-spacing: -0.7px;
		li {
			float: right;
			color: $blanco;
			padding: 14px 16px;
			a {
				color: $blanco;
				text-decoration: none;
				&:hover {
					color: $amarillo;
				}
			}
		}
	}
}
footer {
	background: $gris;
	overflow: auto;
	content: "";
	clear: both;
	height: 70px;
}
#cabecera {
	float: left;
	width: 50%;
	height: 85px;
}
.cabecera_logo {
	position: relative;
	img {
		width: 50%;
		position: absolute;
		left: 20px;
	}
}
.cabecera_menu {
	position: relative;
	ul {
		position: absolute;
		top: 20px;
		right: 10px;
	}
}
#pie {
	float: left;
	width: 33.33%;
	height: 60px;
}
.pie_logo {
	position: relative;
	img {
		width: 50%;
		height: 80%;
		position: absolute;
		left: 40px;
		top: 8px;
	}
}

.pie_centro {
	color: $blanco;
	text-align: center;
}

.social{
    position: absolute;
    color: $blanco;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    padding-top: 8px; 

}

.mySlides{
    display:none;
    width: 100%;
    filter:brightness(0.6);
}

.button-color:hover{
    color:$negro;
    background-color:$gris-claro
}

.button-display-left{
    position:absolute;
    top:40%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}

.button-display-right{
    position:absolute;
    top:40%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}

.textos{
  padding: 30px; 
  text-align: justify;
}

.parrafo{
  padding-right: 100px;
}

.texto_down{
  padding-top: 8px;
}