* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background: #7D807B;
  overflow: auto;
  content: "";
  clear: both; }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    letter-spacing: -0.7px; }
    header ul li {
      float: right;
      color: white;
      padding: 14px 16px; }
      header ul li a {
        color: white;
        text-decoration: none; }
        header ul li a:hover {
          color: yellow; }

footer {
  background: #7D807B;
  overflow: auto;
  content: "";
  clear: both; }

#cabecera {
  float: left;
  width: 50%;
  height: 85px; }

.cabecera_logo {
  position: relative; }
  .cabecera_logo img {
    width: 50%;
    position: absolute;
    left: 20px; }

.cabecera_menu {
  position: relative; }
  .cabecera_menu ul {
    position: absolute;
    top: 20px;
    right: 10px; }

.texto {
  text-align: justify;
  font-size: 18px;
  width: 1150px;
  margin: auto; }

.columna_izq {
  margin-left: 50px;
  width: 465px;
  float: left; }

.columna_der {
  margin-left: 635px;
  margin-right: 50px; }

#pie {
  float: left;
  width: 33.33%;
  height: 60px; }

.pie_logo {
  position: relative; }
  .pie_logo img {
    width: 50%;
    height: 80%;
    position: absolute;
    left: 50px; }

.pie_face {
  position: relative; }
  .pie_face img {
    position: absolute;
    top: 10px;
    left: 275px; }

.pie_centro {
  color: white;
  text-align: center; }
