$blanco: white;
$amarillo: yellow;
$gris: #7D807B;

* {
	box-sizing: border-box;
}
header {
	background: $gris;
	overflow: auto;
	content: "";
	clear: both;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		letter-spacing: -0.7px;
		li {
			float: right;
			color: $blanco;
			padding: 14px 16px;
			a {
				color: $blanco;
				text-decoration: none;
				&:hover {
					color: $amarillo;
				}
			}
		}
	}
}
footer {
	background: $gris;
	overflow: auto;
	content: "";
	clear: both;
}
#cabecera {
	float: left;
	width: 50%;
	height: 85px;
}
.cabecera_logo {
	position: relative;
	img {
		width: 50%;
		position: absolute;
		left: 20px;
	}
}
.cabecera_menu {
	position: relative;
	ul {
		position: absolute;
		top: 20px;
		right: 10px;
	}
}
.texto {
	text-align: justify;
	font-size: 18px;
	width: 1150px;
	margin: auto;
}
.columna_izq {
	margin-left: 50px;
	width: 465px;
	float: left;
}
.columna_der {
	margin-left: 635px;
	margin-right: 50px;
}
#pie {
	float: left;
	width: 33.33%;
	height: 60px;
}
.pie_logo {
	position: relative;
	img {
		width: 50%;
		height: 80%;
		position: absolute;
		left: 50px;
	}
}

.pie_centro {
	color: $blanco;
	text-align: center;
}

.social{
    position: absolute;
    color: $blanco;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}
