$blanco: white;
$amarillo: yellow;
$gris: #7D807B;
$gris-claro: #ccc;
$negro: black;

* {
	box-sizing: border-box;
}
header {
	background: $gris;
	overflow: auto;
	content: "";
	clear: both;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		letter-spacing: -0.7px;
		li {
			float: right;
			color: $blanco;
			padding: 14px 16px;
			a {
				color: $blanco;
				text-decoration: none;
				&:hover {
					color: $amarillo;
				}
			}
		}
	}
}
footer {
	background: $gris;
	overflow: auto;
	content: "";
	clear: both;
	height: 80px;
}
#cabecera {
	float: left;
	width: 50%;
	height: 85px;
}
.cabecera_logo {
	position: relative;
	img {
		width: 50%;
		position: absolute;
		left: 20px;
	}
}
.cabecera_menu {
	position: relative;
	ul {
		position: absolute;
		top: 20px;
		right: 10px;
	}
}
#pie {
	float: left;
	width: 33.33%;
	height: 60px;
}
.pie_logo {
	position: relative;
	img {
		width: 50%;
		height: 80%;
		position: absolute;
		left: 40px;
		top: 8px;
	}
}

.pie_centro {
	color: $blanco;
	text-align: center;
}

.social{
    position: absolute;
    color: $blanco;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    padding-top: 8px; 

}

.mySlides{
    display:none;
    width: 100%;
    filter:brightness(0.6);
}

.button-color:hover{
    color:$negro;
    background-color:$gris-claro
}

.button-display-left{
    position:absolute;
    top:40%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
    background: -moz-linear-gradient(
		top,
		#fafafa 0%,
		#808080);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#fafafa),
		to(#808080));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

.button-display-right{
    position:absolute;
    top:40%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    background: -moz-linear-gradient(
		top,
		#fafafa 0%,
		#808080);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#fafafa),
		to(#808080));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

.textos{
  padding: 30px; 
  text-align: justify;
}

.parrafo{
  padding-right: 100px;
}

.texto_down{
  padding-top: 8px;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #123d54;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#fafafa 0%,
		#808080);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#fafafa),
		to(#808080));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
    top: 50%;
    left: 10%;
    position: absolute;
}
