* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background: #7D807B;
  overflow: auto;
  content: "";
  clear: both; }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    letter-spacing: -0.7px; }
    header ul li {
      float: right;
      color: white;
      padding: 14px 16px; }
      header ul li a {
        color: white;
        text-decoration: none; }
        header ul li a:hover {
          color: yellow; }

footer {
  background: #7D807B;
  overflow: auto;
  content: "";
  clear: both; }

#cabecera {
  float: left;
  width: 50%;
  height: 85px; }

.cabecera_logo {
  position: relative; }
  .cabecera_logo img {
    width: 50%;
    position: absolute;
    left: 20px; }

.cabecera_menu {
  position: relative; }
  .cabecera_menu ul {
    position: absolute;
    top: 20px;
    right: 10px; }

#pie {
  float: left;
  width: 33.33%;
  height: 60px; }

.pie_logo {
  position: relative; }
  .pie_logo img {
    width: 50%;
    height: 80%;
    position: absolute;
    left: 50px; }

.pie_centro {
  color: white;
  text-align: center; }

.social {
  position: absolute;
  color: white;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: auto 3px;
  width: 30px;
  font-size: 15px;
  text-align: center; }

.mySlides {
  display: none;
  width: 100%; }

.button-color:hover {
  color: black!important;
  background-color: #ccc!important; }

.button-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%); }

.button-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%); }
