doctype html
head
  meta(charset='UTF-8')
  title MANGO
  meta(charset='utf-8')
  meta(name='viewport',content='width=device-width, initial-sacale=1')
  link(rel='stylesheet',href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css',integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS',crossorigin='anonymous')
  link(rel='stylesheet', type='text/css', href='estilos.css')
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css",integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr",crossorigin="anonymous")


// Cabecera
body
    header
      #cabecera.cabecera_logo
        img(src='imagenes/mango_logo.png', width='300', height='75', alt='Logotipo de MANGO')
      // Menú de Navegación
      nav#cabecera.cabecera_menu
        ul
          li
            a(href='#')  HOLA 4 
          li  | 
          li
            a(href='#')  HOLA 3 
          li  | 
          li
            a(href='#')  HOLA 2 
          li  | 
          li
            a(href='#')  HOLA 1 
            
            
    // Sección del contenido principal. Wrapper: contenedor
    div.content
        img.mySlides(src='imagenes/auto1.jpg')
        img.mySlides(src='imagenes/auto2.jpg')
        img.mySlides(src='imagenes/auto3.jpg')
        button.button-color.button-display-left(onclick='plusDivs(-1)') &#10094;
        button.button-color.button-display-right(onclick='plusDivs(1)') &#10095;
    
    // Contendio principal para el buscador
    div.container
        div.row
            div.col-sm-6
                p Lorem ipsum dolor amet viral mumblecore fam jean shorts keffiyeh, synth edison bulb raclette chia. Beard irony keytar meditation mixtape lyft, scenester mustache palo santo retro meggings chia marfa. Godard man braid etsy poke raclette woke meggings roof party. Echo park pickled mlkshk readymade, before they sold out cronut pok pok dreamcatcher kinfolk. Lomo helvetica drinking vinegar letterpress readymade pork belly schlitz hexagon authentic chillwave.Vape chicharrones church-key pitchfork. Slow-carb blue bottle small batch you probably haven't heard of them cold-pressed literally, pork belly twee polaroid drinking vinegar edison bulb skateboard migas whatever tote bag. Venmo retro keffiyeh four loko, 8-bit lyft woke pok pok biodiesel vexillologist shoreditch banjo austin. La croix microdosing green juice air plant, tumeric locavore bicycle rights semiotics coloring book direct trade PBR&B. Portland photo booth lomo thundercats kogi, occupy poke.
            div.col-sm-6
                p Lorem ipsum dolor amet viral mumblecore fam jean shorts keffiyeh, synth edison bulb raclette chia. Beard irony keytar meditation mixtape lyft, scenester mustache palo santo retro meggings chia marfa. Godard man braid etsy poke raclette woke meggings roof party. Echo park pickled mlkshk readymade, before they sold out cronut pok pok dreamcatcher kinfolk. Lomo helvetica drinking vinegar letterpress readymade pork belly schlitz hexagon authentic chillwave.Vape chicharrones church-key pitchfork. Slow-carb blue bottle small batch you probably haven't heard of them cold-pressed literally, pork belly twee polaroid drinking vinegar edison bulb skateboard migas whatever tote bag. Venmo retro keffiyeh four loko, 8-bit lyft woke pok pok biodiesel vexillologist shoreditch banjo austin. La croix microdosing green juice air plant, tumeric locavore bicycle rights semiotics coloring book direct trade PBR&B. Portland photo booth lomo thundercats kogi, occupy poke.
                
    // Pie de página
    footer
      div
        #pie.pie_logo
          img(src='imagenes/mango_logo.png', width='150', height='40', alt='Logotipo de MANGO')
        #pie.pie_centro
          p
            | Lorem ipsum Lorem ipsum
            br
            | Lorem ipsum
        #pie.pie_face
          a(href='http://www.facebook.com', target='_blank')
              i.fab.fa-facebook.social.fa-3x
    
    //scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    script.
      var slideIndex = 1;
      showDivs(slideIndex);
      function plusDivs(n) {
      showDivs(slideIndex +=n);
      }
      function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
      }
      x[slideIndex-1].style.display = "block";
      }